* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: sans-serif;
  user-select: none;
}
:root {
  --main-color: rgb(48, 48, 248);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--main-color);
}
.container {
  background: #fff;
  padding: 30px;
}
.container h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 25px;
  color: var(--main-color);
}

.container input {
  user-select: none;
  padding: 20px;
  height: 50px;
  width: 400px;
  border: none;
  outline: none;
  border: 2px solid var(--main-color);
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  font-size: 20px;
  margin: 10px;
  /* padding: 10px; */
  border: 2px solid var(--main-color);
  width: 150px;
  height: 50px;
  text-align: center;
  background-color: var(--main-color);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
